.centralizar{
  margin-top: 70%;
  margin-left: 35%;
}

.container{
  height: 400px;
  width: 850px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 4px solid black;
}

.borda {
  border: 2px solid black;
}

.grafico {
  color: black;
  text-align: center;
}

.titulo {
  margin-top: 20px;
  color: black;
}

.form-field {
  margin-top: 20px;
  color: black;
}

.form-field__label, .btn {
  margin: 5px 5px 10px 5px;
}
