<div class="centralizar">
  <section class="container">
    <form class="formulario" [formGroup]="form"><br>
      <p class="titulo">Cadastrar Novo Funcionário</p>

      <div class="form-field">

        <label for="nome"
          >Nome<input
            class="form-control"
            formControlName="nome"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
        /></label><br><br>


        <label for="funcao"
          >Função<input
            class="form-control"
            formControlName="funcao"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && hasError('funcao') }"
        /></label><br><br>


        <label for="perfil"
          >Perfil<input
            class="form-control"
            formControlName="perfil"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && hasError('perfil') }"
        /></label><br><br>

        <button
          class="btn btn-dark botaocad"
          style="width: 120px"
          type="submit"
          (click)="onSubmit()"
        >
          Incluir
        </button>
      </div>
    </form>
  </section>
</div>
