<div class="centralizar">
  <section class="container">
    <form class="formulario">
      <p class="titulo">Extrato</p>
    </form>
    <aside>
      <table class="table table-dark" style="margin-top: 15px">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor</th>
            <th scope="col">Destino</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of transferencias$ | async">
            <td>{{ t.id }}</td>
            <td>{{ t.valor }}</td>
            <td>{{ t.destino }}</td>
            <td>{{ t.data }}</td>
          </tr>
        </tbody>
      </table>
    </aside>
  </section>
</div>
