<div class="centralizar">
  <section class="container">
    <form class="formulario" (ngSubmit)="transferir()">
      <p class="titulo">Nova Transferência</p>

      <div class="form-field">
        <label class="form-field__label" for="valor">Valor</label>
        <input class="form-field__input" id="valor" type="text" name="valor" [(ngModel)]="valorInput">

        <label class="form-field__label" for="destino">Destino</label>
        <input class="form-field__input" id="destino" type="text" name="destino" [(ngModel)]="destinoInput"/>

        <button class="btn btn-dark" type="submit">Transferir</button>
      </div>
    </form>
  </section>
</div>
