<div class="centralizar">
  <section class="container">
    <form class="formulario" [formGroup]="form"><br>
      <p class="titulo">Cadastrar nova Transferência</p>

      <div class="form-field">

        <label for="destino"
          >Destino<input
            class="form-control"
            formControlName="destino"
            type="text"
            [ngClass]="{ 'is-invalid': submitted && hasError('destino') }"
        /></label><br><br>


        <label for="valor"
          >Valor<input
            class="form-control"
            formControlName="valor"
            type="number"
            [ngClass]="{ 'is-invalid': submitted && hasError('valor') }"
        /></label><br><br>

        <label for="data"
          >Valor<input
            class="form-control"
            formControlName="data"
            type="datetime-local"
            [ngClass]="{ 'is-invalid': submitted && hasError('data') }"
        /></label><br><br>

        <button
          class="btn btn-dark botaocad"
          style="width: 120px"
          type="submit"
          (click)="onSubmit()"
        >
          Incluir
        </button>
      </div>
    </form>
  </section>
</div>
