.centralizar{
  margin-top: 10%;
}

.container{
  height: 400px;
  width: 850px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid black;
}

.grafico {
  color: black;
  text-align: center;
}

.titulo {
  margin-top: 20px;
  color: black;
  font-size: 1.5rem;
}

.form-field {
  margin-top: 20px;
  color: black;
}

.form-field__label, .btn {
  margin: 5px 5px 10px 5px;
}

.form-control{
  width: 200px;
  text-align: center;
  margin-left: 20px;
}

aside{
  margin-left: 32px;
  width: 95%;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 15px;
}

