<div class="container">
    <form class="form mt-4 login-form" #f='ngForm' [formGroup]="Form" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="login">
            <h3>Login</h3>
        </div>

        <div class="form-group">
            <input placeholder="Nome"
            formControlName="userName"
             name="usuario"
             type="text"
            class="text-center form-control"
            autofocus>
            <small *ngIf="Form.get('userName')?.errors" class="text-danger d-block mt-2">Nome obrigatório</small>
        </div>

        <div class="form-group">
            <input placeholder="Senha"
            formControlName="password"
            name="password"
            type="password"
            class="text-center form-control"
            autofocus
            >
            <small *ngIf="Form.get('password')?.errors" class="text-danger d-block mt-2">Senha obrigatória</small>
        </div><br>

        <button type="submit" class="btn"
        [disabled]="loginForm.invalid">Login</button>
        <a class="registre" [routerLink]="['novousuario']">Registre-se</a>

    </form>
</div>

