.example-icon {
    background-color: white;
 }

 .barra {
     display: flex;
     justify-content: space-between;
     text-align: end;
     background-color: black;
 }

 .icone {
  margin-right: 10px;
  margin-top: 5px;
 }

.logout{
  margin-left: 25px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: black;
  border: white 1px solid;
  cursor: pointer;
  border-radius: 12px;
}

.logout:hover{
  color: #000000;
  background-color: white;
}
