.example-icon {
    background-color: white;
 }

 .barra {
     display: flex;
     justify-content: space-between;
     text-align: end;
     background-color: black;
 }

 .icone {
  margin-right: 10px;
 }
