.example-icon {
    background-color: white;
 }

 .barra {
     display: flex;
     justify-content: space-between;
     text-align: end;
     background-color: black;
 }

 .icone {
  margin-right: 10px;
 }

.logout{
  margin-left: 25px;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 12px;
}

.logout:hover{
  color: #005065;
}
