.sidenav-container {
  height: 100%;
  right: 16px;
}

.sidenav {
  width: 140px;
  background: #212121 !important;
  border: #212121 1px solid;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

