<mat-drawer-container class="example-container" autosize>
  <mat-drawer  class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['app-grafico']">Gráfico</a>
      <a mat-list-item [routerLink]="['app-transferencias']">Transferências</a>
      <a mat-list-item [routerLink]="['app-extrato']">Extrato</a>
      <a mat-list-item [routerLink]="['app-crud']">Cadastro</a>
      <a mat-list-item [routerLink]="['funcionarios']">Funcionários</a>
    </mat-nav-list>
    <!--  -->
  </mat-drawer>
  <ng-content>
  </ng-content>
</mat-drawer-container>

